body {
    background-color: #000000;
    margin: 0;
}

#gameWrapper {
    position: absolute;
}

canvas, img {
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0 0;
    position: absolute;
}

@font-face {
    font-family: Handlee;
    src: url(fonts/Handlee-Regular.woff) format("woff"),
         url(fonts/Handlee-Regular.ttf) format("truetype");
}

